[Desktop Entry]
Name=Icecrusher
Comment=An editor and analysis tool for DataFrame files
Exec=/opt/icecrusher/icecrusher
Icon=/opt/icecrusher/icecrusher.png
Terminal=false
Type=Application
Categories=Unknown
